.rectangle {
	width: 690px;
	height: 949px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	margin: 0 auto;
}

.title {
	width: auto;
	height: 50px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 36px;
	text-align: center;
	margin: 0 auto;
}

.menu-item {
	width: 595px;
	height: 87px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
	margin: 0 auto;
}

.text-input {
	width: 50px;
	height: 20px;
	padding: 0px 5px 0px 5px;
	background: #ffffff;
	color: black;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: right;
}

.button {
	width: 160px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #92d36e;
	color: #232323;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px 10px 10px 10px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.button:hover { background: limegreen }
