<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/place_order.css">
  <title>My Flask App</title>
</head>
<body>
  <div class="rectangle">
  <form action="{{ url_for('admin') }}" method="post">
    <p class="title" style="margin-top: 50px">ORDERS</p>
    <div class="menu-item" style="margin-top: 10px">
      <p>
        Items: No Kisses {{ counts[0] }}x, The Inferno Sausage {{ counts[1] }}x,
        Cheesy Fries {{ counts[2] }}x, Cajun Fries {{ counts[3] }}x<br>
        Total price: <i>{{ total_price }} CZK</i><br>
        Time created: <i>{{ time_created }}</i><br>
        Status: <i>{{ status }}</i><br>
        <label for="status">Change status:</label>
        <select name="status" id="status">
          <option value="created">created</option>
          <option value="confirmed">confirmed</option>
          <option value="completed">completed</option>
        </select>
      </p>
    </div>
    <button class="button" type="submit" style="margin-top: 20px">Update</button>
  </form>
  </div>
</body>
</html>