<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>My Flask App</title>
</head>
<body>
    <div class="rectangle-1">
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" class="text-input" id="email" name="email" style="margin-top: 50px" placeholder="email">
        <input type="password" class="text-input" id="password" name="password" style="margin-top: 10px" placeholder="password">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red; text-align: center">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button class="button" type="submit" style="margin-top: 20px">Log In</button>
    </form>
    </div>
</body>
</html>