<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/place_order.css">
    <title>My Flask App</title>
</head>
<body>
    <div class="rectangle">
        <form action="{{ url_for('place_order') }}" method="post">
            <p class="title" style="margin-top: 50px">MENU</p>
            <div class="menu-item" style="margin-top: 50px">
                <p><b>No Kisses</b><br>
                2x BIO hovězí smashed patty, cheddar, nakládaná červená cibule, majonéza z pečeného česneku<br>
                <i>219 CZK</i></p>
                <input type="text" class="text-input" style="" id="i1" name="i1" placeholder="0">
            </div>
            <div class="menu-item" style="margin-top: 30px">
                <p><b>The Inferno Sausage</b><br>
                Hovězí párek, karamelizovaná cibule, cheddarová omáčka, jalapeño, mango & habanero, chilli nachos crumble<br>
                <i>199 CZK</i></p>
                <input type="text" class="text-input" style="" id="i2" name="i2" placeholder="0">
            </div>
            <div class="menu-item" style="margin-top: 30px">
                <p><b>Cheesy Fries</b><br>
                Hranolky, cheddarová omáčka, přísně tajná omáčka, smažená cibulka, jarní cibulka<br>
                <i>129 CZK</i></p>
                <input type="text" class="text-input" style="" id="i3" name="i3" placeholder="0">
            </div>
            <div class="menu-item" style="margin-top: 30px">
                <p><b>Cajun Fries</b><br>
                Prémiové skinny hranolky obalené v Cajun dust<br>
                <i>94 CZK</i></p>
                <input type="text" class="text-input" style="" id="i4" name="i4" placeholder="0">
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message == "Login successful!" %}
                            <p style="color: green; text-align: center">{{ message }}</p>
                        {% else %}
                            <p style="color: red; text-align: center">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button class="button" type="submit" style="margin-top: 20px">Submit</button>
        </form>
    </div>
</body>
</html>