<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/place_order.css">
    <title>My Flask App</title>
</head>
<body>
    <div class="rectangle">
        <p class="title" style="margin-top: 50px">MY ORDER</p>
        <div class="menu-item" style="margin-top: 50px">
            <p><b>No Kisses</b><br>
            2x BIO hovězí smashed patty, cheddar, nakládaná červená cibule, majonéza z pečeného česneku<br>
            <i>219 CZK</i><br>
            <i>Count: {{ counts[0] }}</i></p>
        </div>
        <div class="menu-item" style="margin-top: 10px">
            <p><b>The Inferno Sausage</b><br>
            Hovězí párek, karamelizovaná cibule, cheddarová omáčka, jalapeño, mango & habanero, chilli nachos crumble<br>
            <i>199 CZK</i><br>
            <i>Count: {{ counts[1] }}</i></p>
        </div>
        <div class="menu-item" style="margin-top: 10px">
            <p><b>Cheesy Fries</b><br>
            Hranolky, cheddarová omáčka, přísně tajná omáčka, smažená cibulka, jarní cibulka<br>
            <i>129 CZK</i><br>
            <i>Count: {{ counts[2] }}</i></p>
        </div>
        <div class="menu-item" style="margin-top: 10px">
            <p><b>Cajun Fries</b><br>
            Prémiové skinny hranolky obalené v Cajun dust<br>
            <i>94 CZK</i><br>
            <i>Count: {{ counts[3] }}</i></p>
        </div>
        <div class="menu-item" style="margin-top: 10px">
            <p>
                Total price: <i>{{ total_price }} CZK</i><br>
                Time created: <i>{{ time_created }}</i><br>
                Status: <i>{{ status }}</i><br>
            </p>
        </div>
    </div>
</body>
</html>